body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-family: Arial;
	font-size: 13px;
	margin: 0;
	padding: 0;
}
/* navigation bar */
header {
	position: absolute;
	top: 0px;
	margin: 15px;
	height: 44px;
	width: 100%;
	display: block;
}
nav {
	height: 80px;
}
nav ul {
	float: right;
	padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin: 15px 20px 0 0;
    display: block;
}
nav ul li {
	display: inline;
	margin: 0 10px 0 0;
	float: left;
	list-style-type: none;
	font-family: arial, sans-serif;
	font-size: 13.5px;
	font-weight: 200;
	overflow: hidden;
}
nav ul li a {
	display: block;
	padding: 6px;
	text-decoration: none;
	color: #000;
}
nav ul li a:hover {
	text-decoration: underline;
}
/* content */
form {
	display: block;
	text-align: -webkit-center;
	text-align: center;
	height: 28px;
}
input[type=text]{
	width:480px;
	height:28px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .1);
	outline: none;
	font-size: 16px;
	font-family: Arial, sans-serif;
	padding: 10px;
}
.button {
	height: 40px;
	width: 150px;
	color: #757575;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	background-color: #F2F2F2;
	border: none;
	margin: 30px 4px;
	border-radius: 2px;
	border: 1px solid #F2F2F2;
} 
.button:hover {
	height: 40px;
    width: 150px;
    color: black;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #F2F2F2;
    border: none;
    margin: 30px 4px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);
}

/* footer */
footer {
width: 100%;
position: fixed;
bottom: 0;
height: 45px;
background: #F2F2F2;
border-top: 1px solid #e4e4e4;
line-height: 40px;
min-width: 980px;
display: block;
}
.leftfoot {
	float: left;
	padding-left: 20px;
}
.rightfoot {
	float: right;
	padding-right: 20px;
}
.leftfoot p, .rightfoot p {
	padding: 10px 0;
	font-size: 13px;
	color: #666;
	display: inline;
	margin: 0 15px;
}
p {
	display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

/* footer unvisited link */
p a {
	text-decoration: none;
	color: #404040;
}

p a:hover {
	text-decoration: underline;
}